h3{
    background-color: black;
    color: white;
}

p{
    text-align: center;
    background-color: red;
    color: blue;
}

.git{
    text-size-adjust: 30px;
    text-decoration: 2px wavy black;
}